body {background-color: rgb(157, 157, 157);}
nav {color: black; font-family: verdana; font-size: 90%; text-align: right;}
h1 {color: black; font-family: Georgia, 'Times New Roman', Times, serif; font-size: 250%;}
ol {color: black; font-family: 'Franklin Gothic Medium'; font-size: 100; font-weight: normal;}
h3 {color: black; text-align: center; font-size: 75%;}